/* 全域 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", serif;
}

/* 全螢幕首頁背景 */
.hero {
  height: 100vh;  /* 高度＝整個螢幕 */
  background-image: url("background.png");   /* 換成你自己的背景圖片 */
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* 標題 */
.title {
  font-size: 2.8rem;
  letter-spacing: 0.4rem;
  margin-bottom: 20px;
}

/* 校徽 */
.logo {
  width: 320px;
  margin: 20px 0;
}


/* 四顆按鈕容器 */
.buttons {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;   /* 往下移 */
}

/* 按鈕造型 */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 75px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 700;
  border: 3px solid #444;
  border-radius: 40px;
  background: rgba(230, 230, 230, 0.9);
  transition: 0.2s;
}

/* 滑過去的動畫 */
.btn:hover {
  transform: translateY(-3px);
  background: #ddd;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


