/* Reset */
.info-block h2 {
  background-color: #accbec;
  color: #000000;
  padding: 10px 14px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.info-block p {
  line-height: 2;
}

.map-container {
  margin-bottom:70px;
}

.info-block {
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Serif TC", serif;
  background: #f4f7fb;
  color: #222;
}

.scu-header {
  display: flex;
  justify-content: center;       /* logo 區置中 */
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  position: relative;            /* 讓漢堡按鈕可以 absolute 定位 */
}

.logo-area {
  display: flex;
  align-items: center;
}

.scu-logo {
  height: 60px;
}

.map-page {
  max-width: 1200px;
  margin: 32px auto;
  padding: 0 20px 60px;
}

.map-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 8px;
}

.map-subtitle {
  text-align: center;
  margin-bottom: 24px;
  color: #555;
}

.map-container {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #ddeef7;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.campus-map {
  width: 100%;
  display: block;
}

/* 熱區矩形 */
.building-area {
  position: absolute;
  cursor: pointer;
  background: rgba(0,0,0,0) /* 透明，可改成 0.1 來檢查位置 */
}

.fixed-label {
  position: absolute;
  padding: 6px 12px;
  background: rgba(0,0,0,0.75);
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.15s ease-out;
  pointer-events: none;
  z-index: 10;
}

.map-title {
  background-color: #accbec; 
  color: #000000;
  padding: 14px 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}