body {
    margin: 0;
    font-family: "Microsoft JhengHei";
    background: #ffffff;
}

header {
    background: #d0e6f9;
    padding: 15px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

section {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    font-size: 18px;
}

h2 {
    border-left: 5px solid #003366;
    padding-left: 10px;
    color: #003366;
}

.map-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

ul {
    line-height: 2;
}

a.btn {
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: #2b70c9;
}

a.btn:hover {
    background: #17509c;
}
